html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: #f2e6d9;
  
}

h1,
h2 {
  font-family: "Purple Purse", cursive;
  color: var(--secondaryColor) !important;
  
  
}

.top-logo {
  font-family: "Purple Purse", cursive;
  height: auto;
  font-weight: bold;
  color: var(--secondaryColor) !important;
  font-size: 55px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f2e6d9;
  font-size: 65px;
  letter-spacing: .1rem;
  /*font-family: ;*/
}

.navbar {
  font-family: "Purple Purse", cursive;
  color: #f2e6d9;
  background-color: var(--dominantColor) !important;
  letter-spacing: .1rem;
}

/* begin divider */
.custom-shape-divider-top-1707351909 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1707351909 svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 58px;
}

.custom-shape-divider-top-1707351909 .shape-fill {
  fill: #8F090F;
}
/* end divider */

/* begin second divider */
.custom-shape-divider-top-1707351909 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1707351909 svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 58px;
}

.custom-shape-divider-top-1707351909 .shape-fill {
  fill: #8F090F;
}
/* end second divider */

/* begin bottom divider */
.custom-shape-divider-bottom-1707352036 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1707352036 svg {
  position: relative;
  display: block;
  width: calc(137% + 1.3px);
  height: 58px;
}

.custom-shape-divider-bottom-1707352036 .shape-fill {
  fill: #8F090F;
}
/* end second divider */

/*Begin Responsive Design*/
@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*End Responsive Design*/

.nav-link {
  font-family: "Purple Purse", cursive;
  font-weight: bold;
  color: #f2e6d9 !important;
  font-size: 20px;
  letter-spacing: .1rem;
}

/* ADD THE CLASS .custom-toggler TO THE HAMBURGUER MENU*/
/*under main.css added*/

.carousel-caption {
  font-family: "Purple Purse", cursive;
  font-weight: bold;
  color: #000000 !important;
  font-size: 35px;
  letter-spacing: .1rem;
}

/* Set the border color */
.custom-toggler.navbar-toggler {
  border-color: var(--accentColor) !important;
}

/*remove outline when hamburguer menu icon is clicked*/
.custom-toggler:focus,
.custom-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

/* Setting the stroke to green using rgb values (0, 128, 0) */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* ADD THE CLASS .custom-toggler TO THE HAMBURGER MENU*/

/*
#my-google-fonts {
  color: green;
  font-weight: bold;
  font-size: 40px;
  font-family: "Roboto Mono", monospace;
}
*/

.material-symbols-outlined {
  color: var(--dominantColor) !important;
  font-size: 60px;
  letter-spacing: .1rem;
}


.footer-row {
  background-color: var(--dominantColor) !important;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-row a {
  font-family: "Purple Purse", cursive;
  color: #f2e6d9;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.fa-social-media,
.fa-social-media:hover {
  font-size: 25px !important;
  padding-left: 12px;
  padding-right: 12px;
}

blockquote {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-style: italic;
  margin: 0.25em 0px;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: var(--accentColor) !important;
  
}

blockquote:before {
  font-family: "Roboto Slab", serif;
  display: block;
  padding-left: 10px;
  content: "\201c";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: var(--accentColor) !important;
}

blockquote cite {
  color: var(--accentColor) !important;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

.sidebar-icon,
.sidebar-icon a {
  color: var(--dominantColor) !important;
  text-decoration: none;
  
}