html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: #f2e6d9;
}

h1,
h2 {
  font-family: "Purple Purse", cursive;
  color: var(--secondaryColor) !important;
}

.top-logo {
  font-family: "Purple Purse", cursive;
  height: auto;
  font-weight: bold;
  color: var(--secondaryColor) !important;
  font-size: 55px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f2e6d9;
  letter-spacing: 0.1rem;
}

.navbar {
  font-family: "Purple Purse", cursive;
  color: #f2e6d9;
  background-color: var(--dominantColor) !important;
  letter-spacing: 0.1rem;
}

.snazzymenu {
  background-color: var(--dominantColor) !important;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* ... Other styles ... */

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }

  /* ... Other responsive styles ... */
}

.nav-link {
  font-family: "Purple Purse", cursive;
  font-weight: bold;
  color: #f2e6d9 !important;
  font-size: 20px;
  letter-spacing: 0.1rem;
}

.carousel-caption {
  font-family: "Purple Purse", cursive;
  font-weight: bolder;
  color: #f2e6d9 !important;
  font-size: 50px;
  letter-spacing: 0.1rem;
}

.custom-toggler.navbar-toggler {
  border-color: var(--accentColor) !important;
}

.custom-toggler:focus,
.custom-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}