@import "main.css";
@import "custom.css";

,offcanvas offcanvas-start {
    font-family: "Purple Purse", cursive;
        height: auto;
        font-weight: bold;
        color: var(--secondaryColor) !important;
        font-size: 55px;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #f2e6d9;
        font-size: 65px;
        letter-spacing: .1rem;
}